nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #393e46;
}

nav h2 {
  padding: 48px 96px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #eeeeee;
}

nav ul {
  display: flex;
  gap: 48px;
  list-style: none;
  padding: 48px 96px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #eeeeee;
}
